{!-- Explanations and learning materials can be found in news/index and the other news template groups.  In-line comments here are only for features not introduced in news/index. --}
{html_head}
	<title>{site_name}: Not Found</title>
{global_stylesheets}

{rss}
{favicon}
{html_head_end}
	<body>
{nav_access}
	{branding_begin}
			{embed="global_embeds/_top_nav" loc="contact"}
			{global_top_search}
			{global_top_member}
	{branding_end}
	{wrapper_begin}
{embed="global_embeds/_page_header" header="Not Found"}


	<div id="content_pri"> <!-- This is where all primary content, left column gets entered -->
		<h4>Not Found</h4>
				 <p>The page you attempted to load was Not Found.  Please try again.</p>
	</div>


		<div id="content_sec" class="right green40">
			<h3 class="oldernews">Browse Older News</h3>
			<div id="news_archives">
				<div id="categories_box">
				{news_categories}
				</div>
				<div id="month_box">
				{news_month_archives}
				</div>
			</div> <!-- ending #news_archives -->

			{news_calendar}

			{news_popular}

		{rss_links}

		</div>	<!-- ending #content_sec -->

	{global_footer}
	{wrapper_close}
	{js}
	{html_close}
