<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com" class="btn-social btn-outline"><img src="{site_url}images/uploads/fb-icon.png" class="img-responsive" /></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com" class="btn-social btn-outline"><img src="{site_url}images/uploads/twitter-icon.png" class="img-responsive" /></a>
                            </li>
                            <li>
                                <a href="https://www.plus.google.com" class="btn-social btn-outline"><img src="{site_url}images/uploads/gplus-icon.png" class="img-responsive" /></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Expression</h3>
                        <p>Expression is a free to use and is a way to help you expression your thoughts and idea anytime, anywhere.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Expression Yourself 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="{path="scripts/jquery"}" type="text/javascript"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{path="scripts/bootstrap.min"}" type="text/javascript"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{path="scripts/classie"}" type="text/javascript"></script>
    <script src="{path="scripts/cbpAnimatedHeader"}" type="text/javascript"></script>

    <!-- Contact Form JavaScript 
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="{path="scripts/freelancer"}" type="text/javascript"></script>

</body>

</html>