{embed="embed/.header"}

{exp:channel:entries channel="blog" track_views="one"}

	<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <img src="{featured_image}{path}{filename}.{extension}{/featured_image}" alt="{title}" class="img-responsive" />
                    <div class="intro-text">
                        <span class="name"> {title} </span>
                        <hr class="star-light">
                        <span class="skills"> By: {author} - {gmt_entry_date format="%M %d, %Y "} </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Portfolio Grid Section -->
    <section id="blog-inner">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 blog-content">
                {blog_body}
              </div>
            </div>
        </div>
    </section>
 
{/exp:channel:entries}  

    <div class="container">
      <div class="row">
        <div class="col-sm-12 blog-content">
  
          {exp:channel:next_entry}
          <p>Next entry: <a href="{path='blog'}">{title}</a></p>
          {/exp:channel:next_entry}

          {exp:channel:prev_entry}
          <p>Previous entry: <a href="{path='blog'}">{title}</a></p>
          {/exp:channel:prev_entry}
        </div>
      </div>
    </div>
  
  {embed="embed/.footer"}