{embed="embed/.header"}
	<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Our Blog Entries</span>
                        <hr class="star-light">
                        <span class="skills">It's all about anything! Expression!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Portfolio Grid Section -->
    <section id="blog">
        <div class="container">
            <div class="row">
            	{exp:channel:entries channel="blog" orderby="date"}
                	 <div class="col-sm-4 portfolio-item">
                        <a href="{url_title_path='blog/entry'}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    {title}
                                </div>
                            </div>
                            <img src="{featured_image}{path}{filename}.{extension}{/featured_image}" alt="{title}" class="img-responsive" />
                        </a>
                   	 </div>
                {/exp:channel:entries}
            </div>
        </div>
    </section>
  
  {embed="embed/.footer"}